.wrapperDiv {
	/* border: 2px dashed red; */
	/* background-color: yellow; */
	position: absolute;
	user-select: none;
	width: 90px;
	height: 90px;
}

.gateImage {
	position: absolute;
	width: 90px;
	transform: translate(0%, 10%);
}