html {
	background-color: #2b2a33;
	color: white;
}

button {
	color: white;
	background-color: #4b4a53;
	border: #4b4a53;
}

button:active {
	color: white;
	background-color: #3b3a43;
	border: #3b3a33;
}

select {
	color: white;
	background-color: #4b4a53;
	border: #3b3a33;

}

select:hover {
	color: white;
	background-color: #3b3a43;
	border: #3b3a33;
}

.invisButton {
	color: white;
	background-color: #2b2a33;
	border: #2b2a33;
	
}

.textInput {
	color: white;
	/* background-color: #4b4a53; */
	/* border: #4b4a53; */

}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
